[submodule "dding_template"]
	path = dding_template
	url = https://gitlab.com/dding_friends/dding_template.git
[submodule "SafeRL"]
	path = SafeRL
	url = git@github.com:seominseok00/SafeRL.git
[submodule "Masters-Thesis"]
	path = Masters-Thesis
	url = git@github.com:seominseok00/Masters-Thesis.git
